body {
    background-color: black;
    color: aliceblue;
    
}
img{
    width: 300px;
}
#speepa{
    min-width: 100%;
    height: 50px;
    background-color: rgb(2, 2, 2);
}
#bar {
    background-color: grey;
}